@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lora', Times;
}

body{
    padding-top: 150px;
    background-color: lightskyblue;
/*    justify-content: center;
    align-items: center;
    /* overflow: hidden; esconde a barra de rolagem*/
}

  .form-div{
    padding-top: 250px;
    justify-content: center;
    align-items: center;
  }

  .navbar-brand span {
    font-size:2rem;
    line-height:1.2;
    font-weight: 200;
    display:inline-block;
    vertical-align:middle;
    padding:0 0 0 03px;
  }

  .navbar-brand{
    padding-left: 20px;
  }

  .nav-item.pr-0 { 
    padding-right:25px;
    padding-left: 10px;
 }

  .container-fluid{
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 60px;
  }

  .btn.btn-primary{
    font-size: large;
  }  

  .form-label{
    margin-top: 10px;
  }

  .text{
    margin-top: 20px;
  }

  .button{
    margin-top: 10px;
  }


  /* blog */

  .item.mb-5{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }

  .img-fluid{
    padding-right: 15px;
    padding-top: 6px;
    border-radius: 2px;
  }

  .intro{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
  }


  /* ficha blog */
  .blog-post{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
  }

  #img-ficha{
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #title{
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
  }
  
  #texto{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }